// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, or any plugin's
// vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require rails-ujs
//= require jquery
//= require jquery_ujs
//= require activestorage
//= require turbolinks
//= require_tree .

$(function(){
  const cart = [];
  $('#js-add-to-cart').click(function(){
    var selectedSize = $('#js-selected').text();
    if(selectedSize != ""){
      cart.push(selectedSize.trim());
      updateCart();
      alert('Item Added To Cart.')
      $('.js-size.selected').removeClass('selected');
    } else {
      // output error text
      $('#js-error-text').text('You have not selected a size.');
    }
  });
  $('.js-size').click(function(){
    $('.js-size.selected').removeClass('selected');
    $(this).addClass('selected');
    $('#js-selected').text($(this).text());
    $('#js-error-text').text('');
  });

  var domCart = $('#js-cart');
  function updateCart(){
    domCart.html('');
    addSizeToCart('S');
    addSizeToCart('M');
    addSizeToCart('L');
  }

  function addSizeToCart(size){
    var numSize = cart.filter(function(x){ return x === size; }).length;
    if(numSize > 0) {
      var item = $("<div class=\"cart__item\"> <div class=\"cart-item\"> <div class=\"cart-item__primary\"> <img src=\"<%= image_path 'classic-tee.jpg' %>\" class=\"cart-item__image\" alt=\"\"> </div><div class=\"cart-item__secondary\"> <h2 class=\"cart-item__title\">Classic Tee</h2> <div class=\"cart-item__quantity-and-price\"> <span class=\"cart-item__quantity\"> " + numSize + " </span> <span class=\"cart-item__times\"> x </span> <strong class=\"cart-item__price\"> $75.00 </strong> </div><div> <span class=\"cart-item__size-label\"> Size: </span> <span class=\"cart-item__size\"> " + size + " </span> </div></div></div></div>");
      domCart.append(item);
    }
  }
});
