.cart-item{
  display: flex;
  justify-content: space-between;

  &,
  &__title{
    font-size: 13px;
  }

  &__primary{
    width: 30%;
  }

  &__secondary{
    width: 70%;
    padding-left: 10px;
  }

  &__image{
    width: 100%;
  }

  &__title{
    margin-top: 0;
    font-weight: 400;
  }

  &__quantity-and-price{
    margin-bottom: 10px;
  }

  &__size-label{

  }
}
