<section class="header">
  <div class="container">
    <div class="row">
      <div class="header__my-cart">
        <button class="my-cart">
          My Cart
        </button>
        <div class="header__cart">
          <div id="js-cart" class="cart">
            <span class="no-items">
              There are no items in your cart.
            </span>
            
            <!--
            <div class="cart__item">
              <div class="cart-item">
                <div class="cart-item__primary">
                  <%#= image_tag 'classic-tee.jpg', class: 'cart-item__image' %>
                </div>
                <div class="cart-item__secondary">
                  <h2 class="cart-item__title">Classic Tee</h2>
                  <div class="cart-item__quantity-and-price">
                    <span class="cart-item__quantity">
                      1
                    </span>
                    <span class="cart-item__times">
                      x
                    </span>
                    <strong class="cart-item__price">
                      $75.00
                    </strong>
                  </div>
                  <div>
                    <span class="cart-item__size-label">
                      Size:
                    </span>
                    <span class="cart-item__size">
                      S
                    </span>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="main-content__primary">
          <%= image_tag 'classic-tee.jpg', class: 'main-content__product-image' %>
        </div>
        <div class="main-content__secondary">
          <h1 class="main-content__title">Classic Tee</h1>
          <strong class="main-content__price">$75.00</strong>
          <p class="main-content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi vitae, deleniti quidem quos numquam architecto quia tenetur natus omnis commodi nihil incidunt cupiditate tempora doloribus, fugit, distinctio, impedit optio iusto!</p>
          <div class="main-content__selection">
            <div class="selection">
              <label class="selection__label">size</label>
              <svg class="selection__required" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512">
                <path
                  fill="currentColor"
                  d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
              </svg>
              <span id="js-selected" class="selection__selected"></span>
            </div>
          </div>
          <div class="main-content__sizes">
            <div class="sizes">
              <button class="sizes__size js-size">
                S
              </button>
              <button class="sizes__size js-size">
                M
              </button>
              <button class="sizes__size js-size">
                L
              </button>
            </div>
          </div>
          <button id="js-add-to-cart" class="add-to-cart">
            add to cart
          </button>
          <p id="js-error-text" class="error-text"></p>
        </div>
      </div>
    </div>
  </section>
